{% extends 'base.html.twig' %}

{% block title %}Пример{% endblock %}

{% block body %}

    <div class="h-content h-content-home">

        <div class="caption">
            Пример
        </div>

    </div>
    <div>


    </div>

{% endblock %}
